
@{
    ViewBag.Title = "World";
}

<h2>List of Products</h2>
<ul>
    <li>@Html.ActionLink("Laptop", "World", "Products", new { WorldName = "Laptop" }, null)</li>
    <li>@Html.ActionLink("Tablet", "World", "Products", new { WorldName = "Tablet" }, null)</li>
    <li>@Html.ActionLink("Desktop", "World", "Products", new { WorldName = "Desktop" }, null)</li>
</ul>

